@import '../../../colors';

:host {
  display: flex;
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 6px map-get($colors, dropshadow);
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

span.path {
  margin-left: 20px;
  color: map-get($colors, gray-dark);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.list-item {
  color: map-get($colors, gray-dark);
  display: flex;
  align-items: center;
  .tools {
    margin-left: 10px;
  }
  &.admin,
  span.path {
    color: map-get($colors, accent);
  }
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
}

.list-item-large {
  min-height: 50px;
  flex-wrap: wrap;
}

.empty {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: map-get($colors, gray-dark);
}
