@import '../../../colors';

:host {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 5px);
  overflow-y: auto;
  margin: 10px 0;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.child {
  width: 140px;
  font-size: 64px;
  background-color: map-get($colors, gray-lighter);
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: map-get($colors, gray-darker);
  border-radius: 5px;
  transition: background-color .2s ease-in-out, color .05s ease-in-out;
  &.upload {
    color: map-get($colors, success);
  }
  app-progress-bar {
    margin-top: 10px;
  }
  &.selected {
    color: map-get($colors, accent);
  }
  &:hover {
    background-color: map-get($colors, gray-light);
  }
  span.filename {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    word-break: break-word;
    color: map-get($colors, gray-darker);
  }
  fa-icon.more {
    margin: -10px -10px -20px 0;
    z-index: 2;
    align-self: flex-end;
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
    color: map-get($colors, gray-darker);
    transition: opacity .2s ease-in-out, color .2s ease-in-out;
    &:hover {
      color: map-get($colors, accent);
    }
  }
  &:hover fa-icon.more {
    opacity: 1;
  }
}

.info-group {
  width: 100%;
  span.info-title {
    font-weight: 500;
    color: map-get($colors, gray-darker);
  }
  span.info-value {
    color: map-get($colors, gray-dark);
    margin-left: 10px;
  }
  span.info-value-important {
    color: map-get($colors, accent);
  }
}
