@import '../../../colors';

:host {
  display: flex;
  height: 10px;
  width: 100%;
  border-radius: 30px;
  background-color: map-get($colors, gray-light);
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: map-get($colors, accent);
  border-radius: 30px;
  transition: background-color .2s ease-in-out;
  &.red {
    background-color: map-get($colors, error);
  }
}
