<ng-template [ngIf]="authenticated">
  <app-header></app-header>
  <app-explorer (dropzone)="onFileDrop($event)" tabindex="0" (focus)="onExplorerFocused()" (blur)="onExplorerBlurred()"></app-explorer>
  <app-footer></app-footer>
</ng-template>
<app-modal [modal-show]="showLogin && ! showServerModal">
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div class="modal-header">Login</div>
    <div class="modal-body">
      <p @vsqueeze *ngIf="loginError" class="msg-error">{{ loginError }}</p>
      <p>Please login to your account to access the shared cloud.</p>
        <input class="block" placeholder="Username" name="username" type="text" required ngModel minlength="6" maxlength="32">
        <input class="block" placeholder="Password" name="password" type="password" required ngModel minlength="8" maxlength="64">
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="f.invalid" class="btn btn-block btn-primary">Login</button>
    </div>
  </form>
</app-modal>
<app-modal [modal-show]="showOverwriteAlert" [modal-close]="modalCloseButton1" (modal-closed)="onOverwriteModalClosed()">
  <div class="modal-header">
    File Overwrite
  </div>
  <div class="modal-body">
    <p>The current upload operation would overwrite {{ overwrites.length }} file{{ overwrites.length > 1 ? 's' : '' }}, do you want to proceed?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-block" (click)="onOverwriteModalConfirmed()">Proceed</button>
    <button type="button" class="btn btn-primary btn-block" #modalCloseButton1>Cancel</button>
  </div>
</app-modal>
<app-modal [modal-show]="showServerModal" [modal-close]="modalCloseButton2" (modal-closed)="onServerModalClosed(sf)">
  <form #sf="ngForm" (ngSubmit)="onServerModalConfirmed(sf)">
    <div class="modal-header">
      Server Address
    </div>
    <div class="modal-body">
      <div class="input-group">
        <input type="text" placeholder="Host" name="url" ngModel required url>
        <input type="number" class="w-half" placeholder="Port" name="port" ngModel port>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="sf.invalid" class="btn btn-primary btn-block">Set</button>
      <button type="button" class="btn btn-secondary btn-block" #modalCloseButton2>Cancel</button>
    </div>
  </form>
</app-modal>
