$colors: (
  dropshadow: rgba(0, 0, 0, .05),
  backshadow: rgba(0, 0, 0, .3),
  accent: #479aec,
  accent-light: #75b2f0,
  accent-dark: #187fe7,
  gray-lighter: #FFFFFF,
  gray-light: #f4f5f6,
  gray-medium-light: #e3e5e8,
  gray-medium: #c8ced5,
  gray-dark: #acb5bf,
  gray-darker: #3b4046,
  error: #ff6060,
  error-light: #ff9494,
  error-dark: #ff4242
);
